* {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Slider container */
.banner-slider {
  position: relative;
  width: 100%;
  margin-top: 64px;
  height: 16rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .banner-slider {
    height: 26rem;
  }
}

/* Slide wrapper */
.banner-slide-wrapper {
  display: flex;
  transition: transform 1.3s ease-in-out;
}

/* Each slide */
.banner-slide {
  min-width: 100%;
  height: 16rem;
  /* Mobile default height */
}

@media (min-width: 768px) {
  .banner-slide {
    height: 26rem;
    /* Desktop height */
  }
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation dots */
.banner-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.banner-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #9ca3af;
  /* gray */
  cursor: pointer;
}

.banner-dot.active {
  background-color: #ffffff;
}

/* feature section -------------------------------------- */
.feature {
  padding: 2rem 2rem;
  text-align: center;
}

.feature h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #520006;
}

/* Grid layout */
.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

/* Product card */
.product-card {
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .product-card img {
    height: 21rem;
  }
}

.product-card:hover img {
  transform: scale(1.05);
}

/* Product info */
.product-info {
  padding: 0.5rem 1rem;
}

.product-info h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #520006;
  margin: 0;
}

@media (min-width: 768px) {
  .product-info h3 {
    font-size: 1.3rem;
  }
}

/* section no 3   ---------------------------------- */

.ready-to-wear {
  padding: 2rem 2rem;
}

.ready-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .ready-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .ready-text h2 {
    font-size: 1.6rem;
  }
}

/* Left side text */
.ready-text h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #520006;
  line-height: 30px;
  margin-top: 4rem;
}

.ready-products {
  display: flex;
  cursor: pointer;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
}

/* Optional: hide scrollbar */
.ready-products::-webkit-scrollbar {
  display: none;
}

.ready-card {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}

.ready-card img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 0.5rem;
  transition: transform 0.3s;
}

.ready-card img:hover {
  transform: scale(1.05);
}

.ready-card p {
  margin: 5px 0;
  font-size: 0.9rem;
  font-weight: 600;
  color: #520006;
  text-align: center;
}

@media (min-width: 480px) {
  .ready-card img {
    width: 7rem;
    height: 7rem;
  }

  .ready-card p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .ready-card img {
    width: 8rem;
    height: 8rem;
  }

  .ready-card p {
    font-size: 1rem;
  }

}

@media (min-width: 1024px) {
  .ready-card img {
    width: 9rem;
    height: 9rem;
  }

  .ready-card p {
    font-size: 1.05rem;
  }
}

/* section 4----------------------------------------- */
.section-4 .images {
  padding: 0 6rem;
}

.section-4 .product-card img:hover {
  transform: none;
}


/* center banner ---------------------------------------- */
.center-banner {
  padding: 2rem;
}

.center-banner img {
  width: 100%;
  height: auto;
  max-height: 28rem;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}


/* section 5-------------------------- */
.section-5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin: 2rem 7rem;
}

.section-5 .category-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}



.section-5 .category-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.section-5 .category-card span {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
}


/* section no 6---------------------------------- */

.accessories-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  margin-bottom: 1rem;
}

.accessories-title h2 {
  color: #520006;
  font-size: 2rem;
  margin-top: 50px;
  margin-left: 2rem;
  margin-bottom: 15px;
}


.heading .buttons {
  display: flex;
  gap: 0.5rem;
}

.heading .buttons button {
  border: none;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: none;
  margin-top: 25px;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.heading .buttons button:hover {
  background: #f1f1f1;
  border: 1px solid #8d8c8c;
}

.accessories-wrapper {
  position: relative;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.accessories-scroll {
  display: flex;
  overflow-x: auto;
  width: 100%;
  gap: 1.5rem;
  scroll-behavior: smooth;
  padding: 1rem 2rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.accessories-scroll::-webkit-scrollbar {
  display: none;
}

.accessory-card {
  flex: 0 0 auto;
  text-align: center;
}

.accessory-card img {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  padding: 2px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #8d8c8c;
}

.accessory-card p {
  margin-top: 0.5rem;
  color: #520006;
  font-weight: 500;
  font-size: 1.1rem;
}


/* last section ------------------------------- */
.new-arrivals {
  display: flex;
  gap: 30px;
  padding: 40px;
  align-items: flex-start;
  background: #fff;
  /* white background */
}


.new-arrivals .left h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 8rem;
  margin-left: 2rem;
  text-decoration: underline;
  line-height: 1.2;
  color: #520006;
}

.new-arrivals .right {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.new-arrivals .right::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  position: relative;
  width: 16rem;
  border-radius: 6px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}



.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.card h3 {
  font-size: 14px;
  cursor: pointer;
  margin: 10px 0 5px;
  color: #1f1e1e;
  font-weight: normal;
}

.card h3:hover {
  text-decoration: underline;
}

.card .price {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  color: #000;
  margin-bottom: 25px;
}

.cart-icon {
  position: absolute;
  color: #1f1e1e;
  height: 3rem;
  width: 3rem;
  bottom: 105px;
  right: 8px;
  background: #fff;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all {
  display: flex;
  align-items: center;
  height: 25.1rem;
  cursor: pointer;
}

.view-all h2 {
  color: #520006;
  font-size: 28px;
  text-decoration: underline;
  font-weight: 500;
  margin-left: 50px;
}

@media (max-width: 600px) {
  .new-arrivals .left h2 {
    font-size: 20px;
    margin-left: 0;
    margin-top: 6rem;
  }

  .new-arrivals .card {
    height: 20rem;
    width: 12rem;
  }

  .card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 4px;
  }

  .cart-icon{
    bottom: 85px;
    height: 2.3rem;
    width: 2.3rem;
    right: 8px;
  }
  .view-all h2{
    margin-top: -5rem;
    font-size: 20px;
  }

}